In [5]:
import pandas as pd
df=pd.read_csv('01_data_mars_opposition.csv')

In [8]:
df.head(12)

,Day,Month,Year,ZodiacIndex,Degree,Minute,Second,LatDegree,LatMinute,ZodiacIndexAverageSun,DegreeMean,MinuteMean,SecondMean
0,18,11,1580,2,6,28,35,1,40,1,25,49,31
1,28,12,1582,3,16,55,30,4,6,3,9,24,55
2,30,1,1585,4,21,36,10,4,32,4,20,8,9
3,6,3,1587,5,25,43,0,3,41,6,0,47,40
4,14,4,1589,7,4,23,0,1,12,7,14,18,26
5,8,6,1591,8,26,43,0,-4,0,9,5,43,55
6,25,8,1593,11,12,16,0,-6,-2,11,9,49,31
7,31,10,1595,1,17,31,40,0,8,1,9,55,4
8,13,12,1597,3,2,28,0,3,33,2,23,11,56
9,18,1,1600,4,8,38,0,4,30,4,4,35,50
10,20,2,1602,5,12,27,0,4,10,5,14,59,37
11,28,3,1604,6,18,37,10,2,26,6,27,0,12

In [13]:
import numpy as np
#this method takes in np arrays of degree,minute,seconds and zodiac index and returns np array of radians
def get_as_radian(degree,minute,second,zodiac_index):
    base_angle=zodiac_index*30
    deg_angle=base_angle+degree+(minute/60.0)+(second/3600.0)
    return np.radians(deg_angle)

In [21]:
alpha=get_as_radian(df['Degree'],df['Minute'],df['Second'],df['ZodiacIndex'])
beta=get_as_radian(df['DegreeMean'],df['MinuteMean'],df['SecondMean'],df['ZodiacIndexAverageSun'])

In [61]:
alpha_beta=(alpha,beta)

In [147]:
#radius is the distance from center, alpha= mars_sun angle, beta= mars_avsun angle, x, y are params as in slides
def radius(alpha,beta,x,y):
    #A,B,C are angles of triangle formed by joining vertices sun, av sun and mars
    A=beta-y
    B=np.pi-(alpha-y)
    C=np.pi-A-B
    a=(np.sin(A)/np.sin(C))*(1+x) #used sine rule to get the side opposite to average sun vertex of triangle
    return np.sqrt(1+a**2-2*a*np.cos(B)) #used cosine rule to get dis of mars from center.

def theta(alpha,beta,x,y):
    A=beta-y
    B=np.pi-(alpha-y)
    C=np.pi-A-B
    a=(np.sin(A)/np.sin(C))*(1+x) #used sine rule to get the side opposite to average sun vertex of triangle
    return np.arcsin((np.sin(B)*a)/radius(alpha,beta,x,y))

In [136]:
def geometric_mean(values):
    a = np.log(values)
    return np.exp(a.sum()/len(a))

def objective(x_y,alpha,beta):
    r=radius(alpha,beta[1],x_y[0],x_y[1])
    return np.log(np.mean(r))-np.log(geometric_mean(r))

In [225]:
t=np.array([200,2])

In [226]:
np.log(np.mean(r))-np.log(geometric_mean(r))

0.4034499149102455

In [221]:
from scipy.optimize import minimize,Bounds,shgo
x_y=np.random.rand(2)
print (x_y)
bounds = Bounds([0, -np.inf], [np.inf, np.inf])
# bounds=[(0,100000),(0,2*np.pi)]
res=minimize(objective,x_y,args=alpha_beta,bounds=bounds,method='trust-constr')
print (res)

[0.11817835 0.46258613]
 barrier_parameter: 1.0240000000000006e-08
 barrier_tolerance: 1.0240000000000006e-08
          cg_niter: 46
      cg_stop_cond: 0
            constr: [array([1.67267649, 1.73512391])]
       constr_nfev: [0]
       constr_nhev: [0]
       constr_njev: [0]
    constr_penalty: 1.0
  constr_violation: 0.0
    execution_time: 0.39771389961242676
               fun: 7.549516651823487e-15
              grad: array([ 4.45428674e-09, -6.46250820e-15])
               jac: [<2x2 sparse matrix of type '<class 'numpy.float64'>'
	with 2 stored elements in Compressed Sparse Row format>]
   lagrangian_grad: array([-1.22853725e-09, -6.46250820e-15])
           message: '`gtol` termination condition is satisfied.'
            method: 'tr_interior_point'
              nfev: 81
              nhev: 0
               nit: 36
             niter: 36
              njev: 0
        optimality: 1.2285372452674412e-09
            status: 1
           success: True
         tr_radius: 5.0
                 v: [array([-5.68282399e-09,  0.00000000e+00])]
                 x: array([1.67267649, 1.73512391])

In [215]:
r=radius(alpha,beta,res.x[0],res.x[1])
th=theta(alpha,beta,res.x[0],res.x[1])

In [216]:
for R,T in zip(r,th):
    print (R, T)

447625.3513313814 1.1602298125921775
754843.2709107781 1.2754006182925894
2503791.326528329 0.6701581994654239
15664.670982899734 0.07476303759536379
405310.31697724154 -0.6001037677973666
634986.4184772291 -1.513492921939515
809644.0479231682 0.30950543021928323
484556.3043793822 0.8295146861512172
616566.5614462964 1.5277464922944874
1169524.127155244 0.8965181270353008
583440.4812842368 -0.3063047668977191
311406.3094945491 -0.3249716357350238

In [152]:
for R,T in zip(r,th):
    print (R, T)

10.423751408293171 0.627079700832199
1.0000002895088804 3.8164537599793975e-08
77.58526870493169 0.7276549292137735
33.46160484973476 -1.3607494690298734
14.801355788642775 -1.0737358672810733
2.22267132241937 -0.12257046242757608
62.01889766347541 1.0826155369229429
19.01774440113793 0.946991422724474
4.237906518621657 0.14982690090975767
19.10776083736815 0.4844020917310976
61.41905294529704 -1.1146754500544178
19.89874610669093 -1.3605255532486447